.WeatherForecast {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: 1px solid #e0c3fc;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
}

.WeatherForecast .forecastIcon {
  display: block;
  width: 60px;
  margin: 0 auto;
}
